<script src="../libs/angular.js"></script>
<div ng-app="myApp" ng-controller="personCtrl">

<p>Tên: <input type="text" ng-model="firstName"></p>
<p>Họ: <input type="text" ng-model="lastName"></p>
<p>Họ & Tên: {{fullName()}}</p>
<a ng-href="img/{{firstName}}.jpg">Hello {{lastName}}!</a>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('personCtrl', function($scope, $rootScope) {
    $scope.firstName = "Trần Văn";
    $scope.lastName = "Tí";
    $scope.fullName = function() {
        return $scope.firstName + " " + $scope.lastName;
    };
});
</script>